.main {
}
@keyframes fire {
  0% {
    left: 0;
    opacity: 1;
  }
  50% {
    left: 50%;
    opacity: 1;
  }

  100% {
    left: 100%;
    opacity: 1;
  }
}

.overlay{
   height: 100px;
   width: 400px;
   background-color: #fff;
   position: absolute;
   top: 0;
   opacity: 1;
   animation-name: fire;
   animation: fire 1s ease-in 1s 1 normal forwards;
 
    
}
.image{
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translate(-50%, -50%);
}
.homeb{
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);

}
.cards{
  display: flex;
  justify-content: space-around;
  gap: 150px;
}
.card{
  height: 200px;
  width: 300px;

  /* background-color: red; */
  margin-top: 55px;
  border-radius: 15px;

}

.homeh1{
  font-size: 35px;
  font-weight: 700;
  align-items: center;
  justify-content: center;
  display: flex;
  opacity: 0.7;
}