table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  tr th {
    font-size: 18px;
    padding: 22px;
    border: 1px solid #000000;
    text-align: center;
    background-color: rgba(217, 221, 146, 0.2);
  }
  
  tr td {
    border: 1px solid #000000;
    text-align: center;
    padding: 12px;

  }
  h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    font-family: monospace;
    font-weight: 700;
    height: 50px;
    /* width: 40%; */
    padding: 40px;
    border-radius: 10px;
  }
  strong{
    font-size: 25px;
  }